# Variables beginning with "REACT_APP" are visible within the App
# Variables beginning with "REACT_APP_MANIFEST" are visible within
# the app and can be used within the Microsoft Teams manifest.

# For example, <NAME> in manifest.template.json will be replaced with
# the value of REACT_APP_MANIFEST_NAME when the manifest is built
# using the npm run manifest command.

REACT_APP_MANIFEST_NAME="My App"
REACT_APP_MANIFEST_APP_VERSION="1.0.0"
REACT_APP_MANIFEST_TEAMS_APP_ID=5c4f12ef-6366-4e79-b268-5d496e7926d8
REACT_APP_MANIFEST_HOSTNAME=localhost
REACT_APP_MANIFEST_PORT=3000